body {
  background-color: black;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-weight: lighter;
  font-stretch: extra-condensed;
  text-align: center;
}

img {
  max-width: 250px;
}

.page-wrapper {
  padding: 70px;
}

.well {
  background-color: teal;
  color: lightcyan;
}
